# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [244]:
#!pip install -U scipy

In [245]:
# import numpy and pandas

import pandas as pd
import numpy as np
import statistics as stats
import math
import scipy.stats as st
import re

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the San Francisco. We will start by loading the dataset and examining its contents.

In [246]:
# Your code here:

data = pd.read_csv('./Salaries.csv')

/var/folders/fw/gn4y0r6102q38_7vzn4l62mw0000gp/T/ipykernel_11083/851217743.py:3: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('./Salaries.csv')

Examine the `salaries` dataset using the `head` function below.

In [247]:
# Your code here:

In [248]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Get the amount of missing data in every column

In [249]:
# Your code here:

In [250]:
data.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Get the shape of the dataframe

In [251]:
# Your code here

In [252]:
data.shape

(148654, 13)

Given output of the previous two cells, drop the corresponding column and compute again the amount of missing values.

In [253]:
# Your code here

In [254]:
data = data.drop(["Notes"], axis = 1)
data.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Agency                   0
Status              110535
dtype: int64

Check out what are the possible values of the column "Status".

In [255]:
# Your code here

In [256]:
data["Status"].unique()

array([nan, 'PT', 'FT'], dtype=object)

Drop any row with missing values in the "Status" column and compute again the number of missing values.

In [257]:
# Your code here

In [258]:
# Your code here

In [259]:
data = data.dropna(subset=["Status"])
data.isna().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
Status              0
dtype: int64

Check out the types of each column and see if they make sense.

In [260]:
# Your code here

In [261]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  object
 4   OvertimePay       38119 non-null  object
 5   OtherPay          38119 non-null  object
 6   Benefits          38119 non-null  object
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.8+ MB

In [262]:
# Your code here

In [263]:
data

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.0,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.0,0.0,82313.7,96570.66,339653.70,436224.36,2014,San Francisco,PT
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.0,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.0,0.0,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT
...,...,...,...,...,...,...,...,...,...,...,...,...
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,San Francisco,PT

Do any type conversions and reset the index.

In [264]:
# Your code here

In [265]:
cols = ["BasePay", "OvertimePay", "OtherPay", "Benefits"]
for col in cols:
    data[col] = pd.to_numeric(data[col])

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  float64
 4   OvertimePay       38119 non-null  float64
 5   OtherPay          38119 non-null  float64
 6   Benefits          38119 non-null  float64
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 3.8+ MB

In [266]:
# Your code here

In [267]:
data = data.reset_index()
data

,index,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
1,110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
2,110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT
3,110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
4,110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38114,148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
38115,148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
38116,148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
38117,148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
38118,148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,San Francisco,PT

Check out if "TotalPayBenefits" = "BasePay" + "OvertimePay" + "OtherPay" + "Benefits"

In [268]:
# Your code here

In [269]:
data["Total2"] = data["BasePay"] + data["OvertimePay"] + data["OtherPay"] + data["Benefits"]
data["Total2"] == data["TotalPayBenefits"]

0         True
1        False
2         True
3        False
4         True
         ...
38114     True
38115     True
38116     True
38117     True
38118     True
Length: 38119, dtype: bool

What is the percetage of employees for which the previous assumption is not True?

In [270]:
# Your code here:

In [271]:
total_bool = (data["Total2"] == data["TotalPayBenefits"])
total_bool.value_counts(normalize = True)*100

True     73.708649
False    26.291351
dtype: float64

There are different departments in the city. List all departments and the count of employees in each department.

In [272]:
# Your code here:

In [273]:
data.groupby(["JobTitle"]).agg({"EmployeeName":"count"})

                                EmployeeName
JobTitle
ACPO,JuvP, Juv Prob (SFERS)                1
ASR Senior Office Specialist              22
ASR-Office Assistant                      15
Account Clerk                             93
Accountant I                               2
...                                      ...
Wire Rope Cable Maint Sprv                 1
Worker's Comp Supervisor 1                 6
Worker's Compensation Adjuster            26
X-Ray Laboratory Aide                     35
Youth Comm Advisor                         1

[996 rows x 1 columns]

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of **all FT workers is significantly different from $75/hr**. Get first the hourly wage by dividing "TotalPayBenefits" by 50 weeks (assuming 10 labour days of holidays) and by 40hrs (assuming a 40hrs week).

$$Hourly Wage = \frac{TotalPayBenefits}{1 year}\frac{1 year}{50 Week}\frac{1 Week}{40 hr}$$

Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [274]:
# Your code here: (compute the "Hourly_Wage")

In [275]:
data["Hourly_wage"] = data["TotalPayBenefits"]/2000
data

,index,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Total2,Hourly_wage
0,110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,510732.68,255.366340
1,110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,479652.21,239.826105
2,110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,436224.36,218.112180
3,110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,418019.22,209.009610
4,110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,417435.10,208.717550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38114,148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.00,0.000000
38115,148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.00,0.000000
38116,148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.00,0.000000
38117,148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.00,0.000000
38118,148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,San Francisco,PT,-618.13,-0.309065

In [276]:
# Your code here: (Compute the mean hourly wage for all the "FT" employees)

In [277]:
#H0: Hourly_wage = $75/hr
#H1: Hourly_wage != $75/hr

FT = data[data["Status"] == "FT"]
print(FT.shape)
mean_hw = FT["Hourly_wage"].mean()
print(mean_hw)
stdev_hw = stats.stdev(FT["Hourly_wage"])
print(stdev_hw)

(22334, 15)
69.264206407271
23.939610982990395

In [278]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "FT" employees

In [279]:
t = (mean_hw-75)/(stdev_hw/math.sqrt(22334))
t

-35.80631941460793

In [280]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [281]:
lower_critical_value = st.t.ppf(0.025, 22333)
print(lower_critical_value)

upper_critical_value = st.t.ppf(0.975, 22333)
print(upper_critical_value)

#### The mean hourly wage seems to be significantly lower in the FT workers compared to the
### given mean ($75/hr), given that the statistic is much smaller than the lower critical value

### H0 rejected!

-1.9600702128845597
1.9600702128845593

In [282]:
# Method 2: Use the p-value method.
# Your code here:

st.t.cdf(t, 22333)

### Same here, the pvalue is much smaller that 0.05. H0 rejected! Mean hourly wage of FT workers
### is significantly lower than the given mean of $75/hr.

2.2589156167156547e-273

In [283]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [284]:
st.ttest_1samp(FT["Hourly_wage"], 75, alternative='two-sided')

Ttest_1sampResult(statistic=-35.80631941460526, pvalue=4.517831233839447e-273)

Are all the methods in agreement?

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are **higher than last year's mean of $86000/year for all salaried employees** (use the column "TotalPayBenefits". Test  hypothesis using a 95% confidence interval.

Hint: Use apply and a lambda function to check in "Police" is in the "JobTitle" to get all the "Police" jobs.

H0: salary => 86000/year
H1: salary < 86000/year

Zona de rechazo está a la izquierda
P-value = P(D|H0=True)

In [285]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "Police" employees

In [286]:
police = data[data['JobTitle'].str.contains("Police")]
police.shape

(1901, 15)

In [287]:
mean_sal = police["TotalPayBenefits"].mean()
print(mean_sal)
stdev_sal = stats.stdev(police["TotalPayBenefits"])
print(stdev_sal)
t = (mean_sal-86000)/(stdev_sal/math.sqrt(1901))
t

148349.04212519721
54095.23137654034

50.2529847421099

In [288]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [289]:
critical_value = st.t.ppf(0.05, 1900)
critical_value

### The statistic is much higher than the critical value. The H0 can be accepted. The salaries
### of the workers in the police force are much higher this year.

-1.645656004264731

In [290]:
# Method 2: Use the p-value method.
# Your code here:

In [291]:
pvalue = st.t.cdf(t, 1900)
pvalue

### The pvalue is 1, so much higher than 0.05. The H0 can be accepted. The salaries
### of the workers in the police force are much higher this year.

1.0

In [292]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [293]:
st.ttest_1samp(police["TotalPayBenefits"], 86000, alternative="less")

Ttest_1sampResult(statistic=50.252984742109945, pvalue=1.0)

The workers from the "JobTitle" with the most employees have complained that their hourly wage is **less than $35/hour**. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [294]:
# Your code here: (Get the department which has most employees)

In [295]:
#H0: Hourly_wage < $35/hr
#H1: Hourly_wage >= $35/hr

max_jt = data.groupby(["JobTitle"]).agg({"EmployeeName":"count"})
max_jt.sort_values(by = ["EmployeeName"], ascending=False).index[0]

'Transit Operator'

In [296]:
max_jt = data[data["JobTitle"] == "Transit Operator"]
max_jt.shape

(2479, 15)

In [297]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider the right "JobTitle" employees

In [298]:
mean_hw = max_jt["Hourly_wage"].mean()
print(mean_hw)
stdev_hw = stats.stdev(max_jt["Hourly_wage"])
print(stdev_hw)
t = (mean_hw-35)/(stdev_hw/math.sqrt(2479))
t

43.35949773900775
21.831413666007283

19.064990324906578

In [299]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [300]:
critical_value = st.t.ppf(0.95, 2478)
critical_value

### The hourly wages of the Transit Operator employees seem to be actually higher than the 
### given value of 35. Our t is much higher than the critical value to the H0 must be 
### rejected.

1.645468777247024

In [301]:
# Method 2: Use the p-value method.
# Your code here:

pvalue = 1-(st.t.cdf(t, 2478))
pvalue

### Also here, H0 must be rejected!

0.0

In [302]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [303]:
st.ttest_1samp(max_jt["Hourly_wage"], 35, alternative="greater")

Ttest_1sampResult(statistic=19.064990324906383, pvalue=5.012771694204206e-76)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level.

In [304]:
# Method 1: Get the critical values which correspond to a 95% confidence.
# Your code here:

In [305]:
confidence_level = 0.95
degrees_freedom = len(data["Hourly_wage"]) - 1
sample_mean = np.mean(data["Hourly_wage"])
print(sample_mean)
sample_standard_error = st.sem(data["Hourly_wage"])
confidence_interval = st.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print(confidence_interval)

50.130719334189436
(49.798255413084014, 50.46318325529486)

Now compute a 95% confidence interval for the hourly salary of all the Police employees.

In [306]:
# Your code here:

In [307]:
confidence_level = 0.95
degrees_freedom = len(police["Hourly_wage"]) - 1
sample_mean = np.mean(police["Hourly_wage"])
print(sample_mean)
sample_standard_error = st.sem(police["Hourly_wage"])
confidence_interval = st.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print(confidence_interval)

74.1745210625985
(72.9578791736444, 75.3911629515526)

# Chi2 test

Now we want to know if the amount of full time "FT" and part time "PT" employees is equal between Lawers, Meds, Police, Firemen and other departments. 

Considering all the options in this groups of employees will be very time consuming. To simplify this process, create first a function that returns:

* "Policemen" if "Police" is found on "JobTitle"
* "Firemen" if "Fire" is found on "JobTitle"
* "Medical" if "Med" or "Nurse" is found on "JobTitle"
* "Lawyer" if "Attorney" is found on "JobTitle"
* "Other" in any other cases

Then, create a new column named "employee_group" that determines to which group belong the employee.

In [313]:
# Your code here: (Create the function)

def employee_group(row):
    if re.match("(Police)", row["JobTitle"]):
        return "Policemen"
    elif re.match("(Fire)", row["JobTitle"]):
        return "Firemen"
    elif re.match("(Med)", row["JobTitle"]) or re.match("(Nurse)", row["JobTitle"]):
        return "Medical"
    elif re.match("(Attorney)", row["JobTitle"]):
        return "Lawyer"
    else:
        return "Other"

In [319]:
def employee_group(row):
    if "Police" in row["JobTitle"]:
        return "Policemen"
    if "Fire" in row["JobTitle"]:
        return "Firemen"
    if "Med" in row["JobTitle"]:
        return "Medical"
    if "Nurse" in row["JobTitle"]:
        return "Medical"
    if "Attorney" in row["JobTitle"]:
        return "Lawyer"
    else:
        return "Other"

In [242]:
# Your code here: (Apply the function)

In [320]:
data["employee_group"] = data.apply(employee_group, axis = 1)
print(data["employee_group"].value_counts())
data

Other        30371
Medical       3917
Policemen     1901
Firemen       1511
Lawyer         419
Name: employee_group, dtype: int64

,index,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Total2,Hourly_wage,employee_group
0,110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,510732.68,255.366340,Other
1,110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,479652.21,239.826105,Medical
2,110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,436224.36,218.112180,Other
3,110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,418019.22,209.009610,Policemen
4,110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,417435.10,208.717550,Firemen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38114,148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.00,0.000000,Other
38115,148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.00,0.000000,Other
38116,148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.00,0.000000,Other
38117,148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.00,0.000000,Other
38118,148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,San Francisco,PT,-618.13,-0.309065,Other

Determine how many "PT" and "FT" employess have all the employees groups.

In [ ]:
# Your code here: (Store the output dataframe into a new variable)

In [321]:
employee_group = data.groupby(["employee_group", "Status"]).agg({"Status":"count"})
employee_group.columns = ["Count"]
employee_group = employee_group.reset_index()
employee_group = employee_group.pivot(index='employee_group',columns='Status').reset_index()
employee_group

       employee_group  Count
Status                    FT     PT
0             Firemen   1333    178
1              Lawyer    317    102
2             Medical   1028   2889
3               Other  18126  12245
4           Policemen   1530    371

Now try compute the expected frequencies doing the calculations with the individual probabilities. Remember that the Chi2 test assumes that both variables (employee_group and FT/PT) are not related (therefore they are independent). Therefore, to compute the expected frequencies you need to compute the probability of each cell and multiply it by the number of observations. ie:

$$\nu(x,y) = p(x,y) * N = p(x) * p(y) * N$$

bear in mind that in general: $p(x,y)\neq p(x)*p(y)$; the equality will only be true if x and y are independent. However, the null hypotheses says that **x and y are independent.** but that's what we're assuming with the null hypotheses.

where "x" is the "employee_group" and "y" the (FT/PT).

In [ ]:
# Create an empty dataframe named "frequencies" to store the data.
# Your code here:

In [169]:
frequencies = pd.DataFrame()
frequencies

Empty DataFrame
Columns: []
Index: []

In [ ]:
# Your code here: Compute Expected frequency of being "Firemen" and "FT". Store the solution in a variable named "firemen_ft"

In [322]:
firemen = (1333+178)/(1333+317+1028+18126+1530+178+102+2889+12245+371)
ft = (1333+317+1028+18126+1530)/(1333+317+1028+18126+1530+178+102+2889+12245+371)
firemen_ft = firemen*ft*(1333+317+1028+18126+1530+178+102+2889+12245+371)
firemen_ft

885.2979878800596

In [ ]:
# Your code here: Compute Expected frequency of being "Firemen" and "PT". Store the solution in a variable named "firemen_pt"

In [323]:
firemen = (1333+178)/(1333+317+1028+18126+1530+178+102+2889+12245+371)
pt = (178+102+2889+12245+371)/(1333+317+1028+18126+1530+178+102+2889+12245+371)
firemen_pt = firemen*pt*(1333+317+1028+18126+1530+178+102+2889+12245+371)
firemen_pt

625.7020121199403

In [ ]:
# Your code here: Compute Expected frequency of being "Lawyers" and "FT". Store the solution in a variable named "lawyers_ft"

In [324]:
lawyers = (317+102)/(1333+317+1028+18126+1530+178+102+2889+12245+371)
lawyers_ft = lawyers*ft*(1333+317+1028+18126+1530+178+102+2889+12245+371)
lawyers_ft

245.49295626852748

In [ ]:
# Your code here: Compute Expected frequency of being "Lawyers" and "PT". Store the solution in a variable named "lawyers_pt"

In [326]:
lawyers_pt = lawyers*pt*(1333+317+1028+18126+1530+178+102+2889+12245+371)
lawyers_pt

173.5070437314725

In [ ]:
# Your code here: Compute Expected frequency of being "Medical" and "FT". Store the solution in a variable named "medical_ft"

In [327]:
medical = (1028+2889)/(1333+317+1028+18126+1530+178+102+2889+12245+371)
medical_ft = medical*ft*(1333+317+1028+18126+1530+178+102+2889+12245+371)
medical_ft

2294.9783047823917

In [ ]:
# Your code here: Compute Expected frequency of being "Medical" and "PT". Store the solution in a variable named "medical_pt"

In [328]:
medical_pt = medical*pt*(1333+317+1028+18126+1530+178+102+2889+12245+371)
medical_pt

1622.021695217608

In [ ]:
# Your code here: Compute Expected frequency of being "Other" and "FT". Store the solution in a variable named "other_ft"

In [329]:
other = (18126+12245)/(1333+317+1028+18126+1530+178+102+2889+12245+371)
other_ft = other*ft*(1333+317+1028+18126+1530+178+102+2889+12245+371)
other_ft

17794.430966184842

In [ ]:
# Your code here: Compute Expected frequency of being "Other" and "PT". Store the solution in a variable named "other_pt"

In [330]:
other_pt = other*pt*(1333+317+1028+18126+1530+178+102+2889+12245+371)
other_pt

12576.569033815158

In [ ]:
# Your code here: Compute Expected frequency of being "Policement" and "FT". Store the solution in a variable named "policemen_ft"

In [331]:
policemen = (1530+371)/(1333+317+1028+18126+1530+178+102+2889+12245+371)
policemen_ft = policemen*ft*(1333+317+1028+18126+1530+178+102+2889+12245+371)
policemen_ft

1113.7997848841785

In [ ]:
# Your code here: Compute Expected frequency of being "Policement" and "PT". Store the solution in a variable named "policemen_pt"

In [332]:
policemen_pt = policemen*pt*(1333+317+1028+18126+1530+178+102+2889+12245+371)
policemen_pt

787.2002151158215

* Store all the expected frequencies of "FT" employees in a list 
* Store all the "PT" employees into another list
* Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
* Create a dataframe with this dictionary using pd.DataFrame()

In [ ]:
# Your code here:

In [336]:
ft = [firemen_ft, lawyers_ft, medical_ft, other_ft, policemen_ft]
pt = [firemen_pt, lawyers_pt, medical_pt, other_pt, policemen_pt]
dic = {"FT": ft, "PT": pt}
df = pd.DataFrame(dic)
df

             FT            PT
0    885.297988    625.702012
1    245.492956    173.507044
2   2294.978305   1622.021695
3  17794.430966  12576.569034
4   1113.799785    787.200215

Now use the "st.chi2_contingency()" from scipy.stats [documentation here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) to conduct a Chi2 test to determine if the diferences between employee groups are statistically significant using a 95% confidence level. Hint: fill the function with a dataframe of actual frequencies.

In [ ]:
# Your code here: (use the st.chi2_contingency() function from scipy.stats to compute:
# The Chi2 value
# The p-valueYea we 
# The expected frequencies.
# Ho: there is no relationship
# Ha: there is relationship differences
# p_value = P(table | Ho) = P(table | no relationship) = 1.51e-6 < 0.05

In [346]:
employee_group = employee_group.iloc[:,1:]

In [347]:
st.chi2_contingency(employee_group)

(2676.642333711905,
 0.0,
 4,
 array([[  885.29798788,   625.70201212],
        [  245.49295627,   173.50704373],
        [ 2294.97830478,  1622.02169522],
        [17794.43096618, 12576.56903382],
        [ 1113.79978488,   787.20021512]]))

Check if your expected frequencies aggree with the ones obtained with the st.chi2_contingency() function

In [348]:
st.chi2.ppf(0.95,df=4)

9.487729036781154

In [ ]:
### Indeed, the employee group is not independent from status!